*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}


.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.navlogo{
    height: 50px;
    width: 110px;
}


.logo{
    background: url("amazon-logo.webp");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/* box2  */
.add-1{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;

}
.add-2{
    font-size: 1rem;
    margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;
}

/* box-3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 3px;
}
.search-select{
    background-color: #f3f3f3;
    width: 40px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;

}

.nav-search:hover{
    border: 2px solid orange;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 119, 0);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
}

/* box-4 */

span{
    font-size: 0.7rem;
}
.nav-second{
     font-size: 0.85rem;
     font-weight: 700;
}

/* box4 and box5 has the same class so no need to style box-5 specifically */

/* box-6 */

.nav-cart i{
          font-size: 28px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
     height: 40px;
     background-color: #222f3d;
     display: flex;
     color: white;
     align-items: center;
     justify-content: space-evenly;

}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85 rem;
}
.panel-deals {
    font-size:0.9 rem;
    font-weight: 700;
}

/** hero section **/

.hero-section{
       background-image: url("box1.jpg");
       background-size: cover;
       color: black;
       height: 380px;
       display: flex;
       justify-content: center;
       align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: rgb(0, 0, 255);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85 rem;
    width: 85%;
    margin-bottom: 30px;
}
.hero-msg a{
    color: #007185;
}

/**shop section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    /* border: 2px solid black; */
    height: 400px;
    width : 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;

}
.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat ;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 15px;
}
.box-content p{
        color: #007185;

}


/* Footer */
footer{
    margin-top: 20px;
}


.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 2rem;
}

ul a {
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color: #dddddd;
}


.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white ;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.logo{
    background: url("Amazon-Logo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font: 0.7rem;
    text-align: center;

    /* display: flex;
    justify-content: center; */

}


.pages{

    padding-top: 25px;
}

.copyright{
      
        padding-top: 5px;


}